<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition_App_Home</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'styleHome.css' %}" type = "text/css"/>
</head>
<body>
    <div class="navbar">
        <h1>Nutrition Scan</h1>
    </div>

    <div class="container">
        <h1>Our Mission:</h1>\
        <p> sdlhfgelrhglwerugbwlerjvhweorgubeworuyvbqeoriugbqeorgijbqerog2hb4rglovuyb4rgkiu</p>
    </div>
</body>
</html>