<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition_App_Home</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'styleH.css' %}" type = "text/css"/>
</head>
<body>
    <div class="navbar">
        <h1>Nutrition Scan</h1>
    </div>

    <div class="container">
        <div class = "containerGroup">
            <h1>Our Mission:</h1>
            <p>
                Our goal is to help people make better food choices by providing easy access to nutritional information. Just scan a barcode to quickly learn what's in your food and make smarter decisions for a healthier life.
            </p>
        </div>

        <div class = "containerGroupImg">
            <img src = "../static/Test.png" alt = "Test Image">
        </div>

        <div class = "containerGroupBtn">
            <a href="/upload/">
                <button class = "button">Click Here to Scan!</button>
            </a>
        </div>
    
    </div>
</body>
</html>