<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="Nut_Logo.png" />
    {% load static %} 
    <link rel="stylesheet" href="{% static 'styleScan.css' %}" />
    <title>Content</title>
</head>
<body>
    <div class="navbar">
        <h1>Data Display</h1>
    </div>

    <div class = "container">

        <div class = "columns content">
            <div class = "contentContainer">
                <p>This is where your data will show!</p>
            </div>
        </div>

        <div class = "columns buttons">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="drop-area">
                    <p>Drag and drop your image here</p>
                    <input type="file" id="fileElem" name="image" accept="image/*" style="display:none;" onchange="handleFiles(this.files)">
                    <label for="fileElem">or click to select a file</label>
                </div>
                <button type="submit">Upload</button>
            </form>

            {% if img_str %}
                <h2>Uploaded Image:</h2>
                <img src="data:image/png;base64,{{ img_str }}" alt="Uploaded Image"/>
            {% endif %}

        </div>

    </div>

    <div class="buttonContainer">
        <div class="centerButton">
            <a href="index.html">
                <button class = "button">Back</button>
            </a>
        </div>
    </div>

    <script>
        let dropArea = document.getElementById('drop-area');

        dropArea.addEventListener('dragover', (event) => {
            event.preventDefault();
            dropArea.classList.add('hover');
        });

        dropArea.addEventListener('dragleave', () => {
            dropArea.classList.remove('hover');
        });

        dropArea.addEventListener('drop', (event) => {
            event.preventDefault();
            dropArea.classList.remove('hover');
            const files = event.dataTransfer.files;
            handleFiles(files);
        });

        function handleFiles(files) {
            const file = files[0];
            const fileElem = document.getElementById('fileElem');
            if (file) {
                fileElem.files = files;
            }
        }
    </script>
</body>
</html>